*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: rgb(197, 197, 250);
  }
  
  a {
    text-decoration: none;
  }
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: rgb(114, 114, 230) solid 4px;
    padding: 3.7px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  h1 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(114, 114, 230) ;
    color: azure;
    text-transform: uppercase;
    margin-bottom: 16px;
    border-radius: 6px;
  }
  
  footer{
    font-weight: 500;
    font-size: 12px;
  }